<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Raider: Login</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/auth/style.css">
    <script src="../bundle/auth.js" type="module"></script>
</head>

<body>
    <h1>Rocket Raider</h1>
    <form action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Username/Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
    <div><a href="/forgot-password"></a><a href="/signu
        "></a></div>
</body>

</html>