<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Raider: Reset Password</title>
    <link rel="stylesheet" href="../styles/auth/style.css">
</head>

<body>
    <form action="/reset-password" method="post">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="c-password" id="c-password" placeholder="Confirm Password">
        <input type="submit" value="Submit">
        <
    </form>
</body>

</html>