<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./logic/dist/main.bundle.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Alien Raid</title>
</head>

<body>
    <p></p>
    <!-- canvas -->
</body>

</html>