@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  background-image: url("/app/assets/homebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100svh;
  user-select: none;
  color: white;
  /* overflow: hidden; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

img,
video {
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar {
  width: 0;
}

#rotate-notice {
  display: none;
}
@media screen and (orientation: portrait) {
  #rotate-notice {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: aliceblue;
    display: flex;
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;
  }
}
