@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  height: 100svh;
  user-select: none;
  color: white;
  background: transparent;
  /* overflow: hidden; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/app/assets/homebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  animation: homeBg 1s ease-in-out infinite linear;
}

@keyframes homeBg {
  0% {
    filter: brightness(100);
  }
  100% {
    filter: brightness(10);
  }
}

img,
video {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

#rotate-notice {
  display: none;
}
@media screen and (orientation: portrait) {
  #rotate-notice {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: aliceblue;
    display: flex;
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;
  }
}
